<%-include("partials/header")-%>
<% const home = found.find(item=>item.title === "Home");  %> 
<h1><%= home.title %> </h1>
<p><%= home.content%> </p> 

 <h1></h1>
 
 <p>...<a href="#" >Read More</a> </p>

 <a href="/compose" class="compose">Compose a new post</a>
<%-include("partials/footer")-%>